# Environment
.env
.venv/
venv/

# Data (Parquet files can be large)
data/raw/
data/processed/
data/eda_plots

# Logs
logs/

# DuckDB
*.duckdb
*.duckdb.wal

# Python
__pycache__/
*.py[cod]
*.egg-info/

# macOS
.DS_Store

# VS Code
.vscode/
docs/.obsidian/
